
/* Contact Form */

*{
	box-sizing: border-box;
}

}
body{
	background-color: pink;
}

.wrapper{
	width: 800px;
	margin: 5% auto;
}

.form-area{
	display: flex;
	background: #174130;
	border-radius: 90px;
	padding: 1.9rem;
}

.msg-area{
	display: flex;
	flex-direction: left;
	order: 1;
}

.msg-area > textarea{
	flex: 1;
	min-width: 18em;
	background: behind;
	color: black;
	padding: 60px;
	flex-direction: row;
}

.details-area{
	flex: 1;
	order: 1;
	margin-right: 2em;
}

.details-area input {
	width: 100%;
	background: behind;
	color: black;
	border-radius: 40px;
}

.details-area input
.details-area button {
	padding 1em;
	margin-left: 10em;
}

.details-area button{
	background: #9f819b;
	color: #fff;
	border: 0;
	padding: 15px 50px;
	border-radius: 40px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 16px;
	text-transform: uppercase;
}

label{ 
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
	font-family: sans-serif;
}

                     



/* Basic Styling */

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: sans-serif;
	font-size: 16px;
}

nav{
	background: #badd99;
	padding: 5px 20px;
}

a{
	color: white;
	text-decoration: none;
}

.menu,
.submenu {
	list-style-type: none;
}

.item.button {
	order: 2;
}

.item {
	
	order: 3;
	width: 100%;
	text-align: center;
	display: none;
}

.item:not(.button) a:hover,
.item a:hover::after {
	color: #ccc;
}

ul{
	list-style-type: none;
}



a:hover {
	text-decoration: underline;
}

.menu li{
	font-size: 16px;
	padding: 15px 5px;
}

.menu li a{
	display: block;
}

.button.secondary {
	border-bottom: 1px black solid;
}



/* mobile menu */
.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.menu li a{
	display: block;
	padding: 15px 5px;
}

.toggle {
	order: 1;
	font-size: 20px;
}


.active.item{
	display:block;
}

.button.secondary {
	border-bottom: 1px black solid;
}

.toggle {
cursor: pointer;
}

.bars {
	background: #065535;
	display: inline-block;
	height: 2px;
	position: relative;
	width: 18px;
}

.bars::before,.bars::after {
	background: #065535;
	content: "";
	display: inline-block;
	height: 2px;
	position: absolute;
	width: 18px;
}

.bars::before {
	top: 5px;
}

.bars::after {
	top: -5px;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}
.submenu-active .submenu {
   display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

@media screen and (max-width: 550px) {
	
	.menu{
		display: inline-block;
		padding-left: 20px;
	}

	.form{
		display: inline-flex;
		padding-left: 20px;
	}
	
	.form-area{
		display: inline-block;
		padding-left: 20px;
	}

	.details-area{
		display: inline-block;
		padding-left: 20px;
	}

	
	.page-footer {
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	}
   
	.page-footer ul {
	  margin-bottom: 0;
	}
  }